build
**/dist
**/node_modules
coverage
.github
.DS_Store
docs
/pnpm-lock.yaml
packages/react
packages/react-dom
packages/react-reconciler/*
!packages/react-reconciler/src
packages/react-reconciler/src/*
!packages/react-reconciler/src/coco-mvc
packages/react-shared