name: Changesets

on:
  push:
    branches:
      - main

permissions:
  contents: write      # Push tags/releases
  pull-requests: write # Version PR

env:
  CI: true

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # 使用 GITHUB_TOKEN for basic checkout
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      # ⬇️ 仅依靠 actions/setup-node 自动配置 OIDC 认证 ⬇️
      - name: Setup node.js and OIDC Auth
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
          scope: '@cocojs'
          always-auth: true                           # 确保它被设置
          token: ${{secrets.NPM_PUBLISHER_TOKEN}}

      - name: Install dependencies
        run: pnpm install

      - name: Create and publish versions
        uses: changesets/action@v1
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm ci:publish # 确保 ci:publish 脚本是存在的，或者直接使用 pnpm publish
          onlyPublishWithReleaseLabel: false
        env:
          # OIDC Token 会自动通过 $NODE_AUTH_TOKEN 注入，这里只需要 GITHUB_TOKEN
          # 用于创建和更新 PR/Commit/Tag
          GITHUB_TOKEN: ${{ secrets.COCONUT_FRAMEWORK_CREATE_PR }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISHER_TOKEN }}
